body {
  font-family: Arial;
  background: #f2f2f2;
}

form {
  background: white;
  padding: 25px;
  max-width: 700px;
  margin: 40px auto;
  border-radius: 8px;
}

label {
  display: block;
  margin-top: 15px;
}

select, input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.hidden {
  display: none;
}

button {
  margin-top: 25px;
  padding: 12px;
  width: 100%;
  background: #007bff;
  color: white;
  border: none;
}
